<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    
    <%- include('../partials/styleCSS.ejs') %>
</head>
<body>

    <%-body%>

    <!-- JS -->
    <%- include('../partials/styleJS.ejs') %>
    <script>
        $(".custom-file-input").on("change", function () {
                console.log('This')
                var fileName = $(this).val().split("\\").pop();
                $(this)
                    .siblings(".custom-file-label")
                    .addClass("selected")
                    .html(fileName)
        })
    </script>

    <script>
        var getID = '<%= locals.idUser  %>'
        var profilePic = '<%= locals.profilePic %>'
        var idshowuser = '<%= locals.idUser %>'
        var getEditElement = '<%= locals.edit %>'
    </script>

    <script src="<%= locals.script %>"></script>
</body>
</html>