<div class="container">
    <h5 class="mt-3"><%= noti_title %></h5>
    <p><a href="/notifications/faculty/<%= postedById %>"><i><%= postedByName %></i></a> | <%= date %></p>
    <p><%= noti_content %></p>
</div>