<p class="mt-2">
    <button class="btn btn-primary mt-2" data-toggle="collapse" href="#collapseNotification" role="button"
        aria-expanded="false" aria-controls="collapseNotification">
        Tạo thông báo mới
    </button>
</p>

<div class="collapse" id="collapseNotification">
    <div class="card card-body">
        <div class="form-group">
            <label for="">Tiêu đề</label>
            <input type="text" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Nội dung</label>
            <textarea class="form-control" id="content" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="">Chuyên mục</label>
            <div style="height: 100px; overflow-y: scroll">
                <% for (let i=0; i< 10; i++) { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Chuyên mục <%= i+1 %>
                        </label>
                    </div>
                <% } %>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="create-notification">Đăng</button>
    </div>
</div>

<!-- TABLE -->
<div class="table-responsive mt-2">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Thông báo</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < 10 ; i++){ %>
                <tr id="row<%= i+1 %>">
                    <th><%= i+1 %></th>
                    <td>TIÊU ĐỀ THÔNG BÁO</td>
                    <td class="text-right">
                        <!-- Xem chi tiết -->
                        <button class="btn btn-sm btn-outline-primary">
                            Chi tiết
                        </button>
                        <!-- Sửa -->
                        <button class="btn btn-sm btn-outline-info btn-edit-notification"
                        data-id="<%= i+1 %>"
                        data-title="Thông báo <%= i+1 %>"
                        data-content="Nội dung <%= i+1 %>"
                        data-toggle="modal"
                        data-target="#confirm-edit-notification">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <!-- Xóa -->
                        <button class="btn btn-sm btn-outline-danger btn-delete-notification"
                        data-id="<%= i+1 %>"
                        data-toggle="modal"
                        data-target="#confirm-delete-notification">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>

<!-- EDIT NOTIFICATION MODAL -->
<div id="confirm-edit-notification" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Chỉnh sửa Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Tiêu đề</label>
                    <input type="text" id="edit-title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Nội dung</label>
                    <textarea class="form-control" id="edit-content" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Chuyên mục</label>
                    <div style="height: 100px; overflow-y: scroll">
                        <% for (let i=0; i< 10; i++) { %>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Chuyên mục <%= i+1 %>
                                </label>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button data-id="?" id="btn-edit-notification-confirmed" type="button" class="btn btn-info">Cập nhật</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE NOTIFICATION MODAL -->
<div id="confirm-delete-notification" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Xóa thông báo</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bạn có chắc rằng muốn xóa thông báo này?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button data-id="?" id="btn-delete-notification-confirmed" type="button" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
